<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>바레인건강보험구축</title>
    <link rel="stylesheet" href="style.css">
    
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="rollingBanner.js"></script>

    
</head>
<body>
	<div id="wrap">
		<h1>바레인건강보험구축 시안</h1>
		<div id="banner">
			<div class="vis_frame">
				<ul>
                	<li><a href="#"><img src="../img/b_20180106_01.jpg" alt="" /></a></li>
					<li><a href="#"><img src="../img/b_20180106_02.jpg" alt="" /></a></li>
					<li><a href="#"><img src="../img/b_20180106_03.jpg" alt="" /></a></li>
				</ul>
			</div>
		</div>
		<div id="b_control">
			<a href="#play" class="play"><img src="../img/play.gif" alt="재생" /></a>
			<a href="#stop" class="stop"><img src="../img/stop.gif" alt="멈춤" /></a>
		</div>
		<div id="b_bt">
			<a href="#left" class="left"><img src="../img/btn_prev.png" alt="이전 배너이미지" /></a>
			<a href="#right" class="right"><img src="../img/btn_next.png" alt="다음 배너이미지" /></a>
		</div>
		<div id="pos">	</div>				
	</div>
</body>
</html>